{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Оплата
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="/">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{id}}
        <div class="Section">
            <div class="wrap">
                <form class="form Payment" action="/progresspayment/?q={{id}}" method="post">
                    {% csrf_token %}
                    <div class="Payment-card">
                        <div class="form-group">
                            <label class="form-label">Номер карты
                            </label>
                            <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay" />
                        </div>
                    </div>
                    <div class="Payment-pay">
                        <input type="submit" class="btn btn_primary" value="Оплатить">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}


